
.Slideshow {
    position: relative;
  
    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-height: 80vh;
      object-fit: cover;
      transition: opacity 1s ease-in-out;
      z-index: 1;
      opacity: 1;
    }
  
    &__slide{
        position: relative;
    }

    &__image:not(:first-child) {
      opacity: 0;
      z-index: 0;
    }

    &__caption {
        background-color: #351303;
        height: 30px;
        line-height: 30px;
        padding-left: 25px;
        padding-right: 25px;
        max-width: 300px;
        text-align: start;
        z-index: 50;
        position: absolute;
        margin-top: 40%;
        right: 0;
    }

    @media (max-height: 500px) {
        &__caption{
            margin-top: 30%;
        }
      }


    @media (max-width: 700px) {
        &__caption{
            height: 20px;
            line-height: 20px;
            font-size: 10px;
            margin-top: 40%;
        }
      }
  
  .fadeEnter {
    opacity: 0;
    z-index: 1;
  }
  
  .fadeEnterActive {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    z-index: 2;
  }
  
  .fadeExit {
    opacity: 1;
  }
  
  .fadeExitActive {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
}
