.CartItem {

    color: #351303;
    display: grid;
    grid-template-columns: 40% 50% 10%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    &__content{
        margin-left: 10px;
        align-self: center;
    }

    &__remove{
        align-self: center;
    }


    img{
        max-width: 100px;
        height: auto;
        object-fit: cover;
    }

    button,p{
        color: #351303;
        margin: 0;
        background: none;
        border: none;
    }

    button{
        cursor: pointer;
    }

    span{
        padding: 5px;
    }
}