.Store{

    // margin-top: 50px;
    // margin-left: 10px
    // margin: auto;
    background-color: #f7efe8;
    // display: flex; /* Set the container as a flex container */
    // justify-content: center; /* Center items horizontally */
    // align-items: center; /* Center items vertically */

    h1{
        margin-bottom: 30px;
        text-align: center;
    }

    &__container{
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: start;
        align-items: flex-start;
        justify-content: center;
        gap: 20px; /* Set the desired space between items */
    }

    // @media screen and (max-width: 767px) {
    //     &__container{
    //         justify-content: center; /* Center items horizontally when only one column */
    //         align-items: center; /* Center items vertically when only one column */
    //     }
    // }

    &__div{
        flex: 0 0 auto;
    }

}