.Store{

    background-color: #f7efe8;
    padding: 70px;

    h1{
        padding: 30px;
        text-align: center;
        color: #351303;
    }

    &__container{

        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
    }
}