.StoreItem {
    width: 300px;
    height: 350px;
    margin-bottom: 30px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;

    &__content > span{
        color: #351303;
    }
    &__content > span:nth-child(3){
        font-size: smaller;
    }

    &__link {
        overflow: hidden;

        &__img {
            max-width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }
}