.Footer {
    margin-left: 10px;
    height: 50px;
    line-height: 50px;
    color: #f7efe8;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-content: baseline;

    &__links{
        display: flex;
    }

    &__links > p{
        padding-left: 10px;
        padding-right: 10px;
    }
}